In [1]:
# Importing libraries
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import joblib
import pickle
df=pd.read_csv('imdb_sup.csv')

In [2]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
df = df.sample(frac = 1)
df.reset_index(inplace=True,drop=True)

In [4]:
df

                                                  Review  Rating  Sentiment
0      Although its plot is taken from the history of...       4          0
1      This movie is based on a Stephen King novel in...       3          0
2      I usually read reviews before I watch a movie....       4          0
3      Luckily for Bill Murray this is such a light-w...       8          1
4      MARY, MARY, BLOODY MARY is an OK time killer. ...       4          0
...                                                  ...     ...        ...
49995  I've seen this movie a few times and with each...      10          1
49996  Considering it's basically low-budget cast, th...       7          1
49997  This movie is a nice, cute family oriented fil...      10          1
49998  Mario Van Peebles pops up for less than a five...       1          0
49999  The untold origin of the Lone Ranger. It shows...       4          0

[50000 rows x 3 columns]

In [5]:
df.drop(['Rating'],axis=1)

                                                  Review  Sentiment
0      Although its plot is taken from the history of...          0
1      This movie is based on a Stephen King novel in...          0
2      I usually read reviews before I watch a movie....          0
3      Luckily for Bill Murray this is such a light-w...          1
4      MARY, MARY, BLOODY MARY is an OK time killer. ...          0
...                                                  ...        ...
49995  I've seen this movie a few times and with each...          1
49996  Considering it's basically low-budget cast, th...          1
49997  This movie is a nice, cute family oriented fil...          1
49998  Mario Van Peebles pops up for less than a five...          0
49999  The untold origin of the Lone Ranger. It shows...          0

[50000 rows x 2 columns]

In [6]:
df=df.iloc[:1000]

In [7]:
df

                                                Review  Rating  Sentiment
0    Although its plot is taken from the history of...       4          0
1    This movie is based on a Stephen King novel in...       3          0
2    I usually read reviews before I watch a movie....       4          0
3    Luckily for Bill Murray this is such a light-w...       8          1
4    MARY, MARY, BLOODY MARY is an OK time killer. ...       4          0
..                                                 ...     ...        ...
995  Emily Watson's Natalia is absolutely the most ...      10          1
996  This is an awesome action film with great one ...       9          1
997  it's movies like these that make you wish that...      10          1
998  This movie is spoofed in an episode of Mystery...       2          0
999  Fans of Gerry Anderson's productions will reco...       8          1

[1000 rows x 3 columns]

In [22]:
for i in df['Review'].iloc[:1]:
    print(i)

Although its plot is taken from the history of ancient Rome, 'Caligula' is not made in the style of sword-and-sandal epics like 'Spartacus' or 'Gladiator'. (That style of movie-making was out of favour in the late seventies). Rather, it more closely resembles a cross between a soft-core porn movie and a video nasty. At least, the shortened 150 minute version does. I have never seen the full 210 minute version, but to judge from the descriptions of it on this page, it would seem closer to a cross between a hard-core porn movie and a video nasty. <br /><br />As one would expect from a film produced by the publisher of 'Penthouse', there is much naked flesh to be seen, and the film lovingly catalogues Caligula's sexual perversions, including his incestuous affair with his sister Drusilla. What is perhaps unexpected from the publisher of a magazine so closely associated with the heterosexual male lifestyle is that there is as much male flesh as female on display and distinctly homoerotic overtones to many scenes. The obsession with sex is balanced by an equal obsession with violence, as though Bob Guccione, Gore Vidal and Tinto Brass were trying to kill two taboos with one stone. (It is a remarkable coincidence that the director of such a brazen film should be called 'Brass' and the scriptwriter of such a gory one should be called 'Gore'). Characters are put to death or mutilated in a variety of sadistic ways, and there is a charming scene of homosexual rape. <br /><br />The Emperor Caligula and his predecessor Tiberius were certainly known for their debauched lifestyles, so the film's concentration on sex and violence is not necessarily historically inaccurate. I do, however, question whether such a concentration is necessary to help us understand this period in Roman history. Both 'The Fall of the Roman Empire' and 'Gladiator' were set during the reign of Commodus, an Emperor quite as cruel and licentious as Caligula. In neither case did the filmmakers find it necessary to turn their film into a mixture of 'Up Pompeii!', 'Emmanuelle' and 'The Texas Chainsaw Massacre', and both those films are artistically far better than 'Caligula'.<br /><br />The acting in the film is not particularly bad, with a few exceptions such as the horribly wooden Teresa Ann Savoy as Drusilla. Malcolm McDowell makes a suitably insane Caligula. (Suitable, that is, in the context of this film. The real Caligula was doubtless both cruel and eccentric, but historians have debated whether he was actually mentally ill). The great mystery is exactly why so many distinguished British actors should have agreed to take part in such a trashy production. In the case of Helen Mirren (the only Dame of the British Empire with a past as a porn star) it was probably connected to her rather regrettable tendency to alternate between the highbrow and the sleazy, but heaven alone knows what Peter O'Toole and John Gielgud thought they were doing. Unlike some other famous stage actors, such as Laurence Olivier and Richard Burton, Gielgud did not always look completely at home in the cinema, but here he gives a dignified interpretation of the role of Nerva, a decent and honourable Senator of the old school. Unfortunately, in the context of this film any attempt at dignity is as out of place as a pearl on a dunghill. <br /><br />Guccione clearly succeeded in his ambition for this film to become something of a cult classic of decadence. (Whether Brass and Vidal had quite the same ambition for the film is open to question). The film does not, however, succeed upon any other level, either as art cinema or as a study of the politics of dictatorship. Even seen as erotica it is second-rate. 4/10

In [37]:
df=df.drop(['Rating'],axis=1)

In [38]:
df

                                                Review  Sentiment
0    Although its plot is taken from the history of...          0
1    This movie is based on a Stephen King novel in...          0
2    I usually read reviews before I watch a movie....          0
3    Luckily for Bill Murray this is such a light-w...          1
4    MARY, MARY, BLOODY MARY is an OK time killer. ...          0
..                                                 ...        ...
995  Emily Watson's Natalia is absolutely the most ...          1
996  This is an awesome action film with great one ...          1
997  it's movies like these that make you wish that...          1
998  This movie is spoofed in an episode of Mystery...          0
999  Fans of Gerry Anderson's productions will reco...          1

[1000 rows x 2 columns]

In [39]:


corpus = []
count=0

# Looping till 1000 because the number of rows are 1000
for i in range(0, 1000):
    # Removing the special character from the reviews and replacing it with space character
    review = re.sub(pattern='[^a-zA-Z]', repl=' ', string=df['Review'][i])

    # Converting the review into lower case character
    review = review.lower()
    count+=1
    print(count)

    # Tokenizing the review by words
    review_words = review.split()

    # Removing the stop words using nltk stopwords
    review_words = [word for word in review_words if not word in set(
        stopwords.words('english'))]

    # Stemming the words
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review_words]

    # Joining the stemmed words
    review = ' '.join(review)

    # Creating a corpus
    corpus.append(review)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [18]:
print(type(corpus))
print(corpus[0])
print(corpus[1])

<class 'list'>
although plot taken histori ancient rome caligula made style sword sandal epic like spartacu gladiat style movi make favour late seventi rather close resembl cross soft core porn movi video nasti least shorten minut version never seen full minut version judg descript page would seem closer cross hard core porn movi video nasti br br one would expect film produc publish penthous much nake flesh seen film lovingli catalogu caligula sexual pervers includ incestu affair sister drusilla perhap unexpect publish magazin close associ heterosexu male lifestyl much male flesh femal display distinctli homoerot overton mani scene obsess sex balanc equal obsess violenc though bob guccion gore vidal tinto brass tri kill two taboo one stone remark coincid director brazen film call brass scriptwrit gori one call gore charact put death mutil varieti sadist way charm scene homosexu rape br br emperor caligula predecessor tiberiu certainli known debauch lifestyl film concentr sex violenc necessarili histor inaccur howev question whether concentr necessari help us understand period roman histori fall roman empir gladiat set reign commodu emperor quit cruel licenti caligula neither case filmmak find necessari turn film mixtur pompeii emmanuel texa chainsaw massacr film artist far better caligula br br act film particularli bad except horribl wooden teresa ann savoy drusilla malcolm mcdowel make suitabl insan caligula suitabl context film real caligula doubtless cruel eccentr historian debat whether actual mental ill great mysteri exactli mani distinguish british actor agre take part trashi product case helen mirren dame british empir past porn star probabl connect rather regrett tendenc altern highbrow sleazi heaven alon know peter tool john gielgud thought unlik famou stage actor laurenc olivi richard burton gielgud alway look complet home cinema give dignifi interpret role nerva decent honour senat old school unfortun context film attempt digniti place pearl dunghil br br guccion clearli succeed ambit film becom someth cult classic decad whether brass vidal quit ambit film open question film howev succeed upon level either art cinema studi polit dictatorship even seen erotica second rate
movi base stephen king novel mysteri new shopkeep leland gaunt max von sydow offer citizen castl rock item desir heavi price paid transact local sheriff alan pangborn ed harri soon forc deal varieti brutal death suspici circumst br br averag stephen king cinema see peopl would think bore plod along without offer genuin scare forc viewer spend time yet bunch repuls loser whose hatr spooki br br enjoy novel believ lacklust movi justic mani unfortun chang book screen br br von sydow make gaunt much charm suppos scare gaunt right time amus also hate sheriff primari deputi ray mckinnon written portray annoy barney fife type moron star ed harri look forc pictur agent profession realli sink teeth dialog bonni bedelia pangborn love interest polli amanda plummer one standard mental unbalanc role come closest creat charact likabl br br yet also foul mean spirit br br although darn feel littl cathart watch bunch unlik movi charact tear piec climax good explos br br often give movi better rate probabl deserv case feel realli honest say

In [40]:
# Creating Bag of Words model
cv = CountVectorizer(max_features=1500)
X = cv.fit_transform(corpus).toarray()
y = df.iloc[:, 1].values

# Creating a pickle file for the CountVectorizer model
print(X[0])

[0 0 0 ... 0 0 0]

In [41]:
print(X.shape)
print(y.shape)
print(X[0])

(1000, 1500)
(1000,)
[0 0 0 ... 0 0 0]

In [42]:
print(y)

[0 0 0 1 0 1 1 1 1 0 0 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 0 1 1 1 0 1 0 0 1 1 1 1
 0 1 1 1 0 1 0 0 1 0 1 1 0 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 1 0 1 0 0 0 0 0 0
 1 0 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 0 0
 1 0 1 1 0 1 1 1 1 1 1 0 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 1 1 0 0 1 1 0
 0 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1 0 1 1 1
 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 1 0 0
 0 0 1 0 1 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 1 1 0 0 1 1 1 0 1 1 1 1 0
 0 1 0 1 1 1 0 1 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0
 0 1 0 1 1 1 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 1 0 1
 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 0 0 0 1 0 1 0 1 1 1 0 0 1 0 0 0 1 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 1 1 0 0 0 1 0 1 1 0 1 0 1
 1 1 1 0 1 1 1 1 0 1 0 1 1 0 0 1 1 0 0 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 0 0 1
 1 0 1 0 0 1 1 0 1 0 0 1 1 1 0 0 1 1 1 0 0 1 0 0 0 0 1 0 1 1 1 1 1 0 1 1 0
 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 1 1 0 0 1 1 1 0
 1 0 0 0 0 1 1 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0
 1 1 1 1 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 0 1 1 1 1 1 0
 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 1 0
 1 1 1 0 1 1 1 0 1 0 1 0 1 1 0 0 0 1 0 0 1 0 1 1 0 0 0 1 0 0 1 1 0 1 0 1 1
 1 0 1 1 1 0 0 1 0 1 0 1 0 0 1 1 1 1 0 0 1 1 0 0 0 1 1 0 0 1 0 0 1 1 1 1 1
 0 1 0 1 0 1 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 0 0 1 1 1 1 1 0 0 1 0 0 1 0 0
 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 1 1 0 1 0 1 0 1 1 1 0
 0 0 1 0 1 0 1 1 0 1 1 0 0 1 1 0 0 1 1 1 0 0 0 0 0 1 0 0 1 1 0 1 1 1 1 1 1
 0 0 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 0 1 1 1 1
 1 0 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 0 1
 1 1 0 1 1 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 0 1 1 1 0
 1]

In [51]:

# Model Building
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=0)

# Fitting Naive Bayes to the Training set
classifier = MultinomialNB(alpha=1)
classifier.fit(X_train, y_train)

# Creating a pickle file for the Multinomial Naive Bayes model

MultinomialNB(alpha=1)

In [28]:
print(X_test)

[[0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [34]:
print(y_train)

[10  7  4  3  9 10  1  1 10 10  9  4  8  9 10  8  7  8  1  8  9  8  1  1
 10  1  9  4  7  3  1  1  2  2  4 10  3  9  3  9  8  1  2  9  8  4  4  4
 10  3  1  8 10  4 10  9  4  9  1  1 10  7  2  4  7  9  1  2  3  4  9  1
  3  9  7  2  3  8  7  7  3 10  8  9  8  1  1  3 10  1  9  9  1  2 10  1
  2  1  3  3  8  1  3  3  7  7  8  9  7 10  7  7 10  8  3  1  9  7 10 10
  7  7 10  1  9  8  7  3  8  7  4  4 10  7  4  1  9  9 10  1  8  4  1  4
  8 10  7 10  2  3  2 10 10  1  7  9 10  3  3  1  2 10  1  9  7 10  9  1
  4  1  3  9  7  2  1  8  1 10  1  1  2  1 10  7 10  9  8  9  2  3  2  3
  7 10  3  4  7  1  2  1  1  1  7  8  8  7 10  2  4  1 10  4  8  8  1  4
  3  4  8  9 10  7  3  4  1  7  8  9 10 10  2  1  1 10  3  1 10  7  1  7
  1  7  1  2  8  8 10  2 10 10  3  1 10  7  9  3  2  1 10 10  7  3  9  2
  3  7  8  4  3  3  8  2 10  7  9  4  3  1  1  2  4  7 10 10 10  7  1  4
  3  3  1  8  8  9  7  8  8  7 10 10  8 10  3 10 10  9  9  8  9 10  4 10
  2  7  8 10  2  9  4  1  2  2 10  7  4  1  8  1  1  4 10  9  2  3  3 10
  9 10 10  8  1  1  7  2 10  4  3  2 10 10  9  8  8  1  4  3  1  1  9  1
  4  1  4  1  8  3  1  4 10  4  1  4  2  8  1  3  2  7 10 10  8  4  1  4
  3 10  1  3  8  4  4  9  7 10  3  2  8  9 10  9  2  2 10  8  4 10 10  1
  4  2  9 10  8  7  7  9  4  3 10  7  1  8  1  8  1  4 10  3  1  4 10 10
  7  4  8 10  1  1  2  9  2  4  1  4  4 10  8  4  8 10  7  1 10  3  1 10
  1 10  7 10 10  2 10  8  8  7  4  9  7  4  1 10  8  1  4  4  9  2  9  3
 10 10  7  9  8  7  2  4  7  2  3 10  8  4  7 10 10  2  8  4  8  2 10  4
  4  1  3  3  9  3  1  3  2  9  1  3  1  1  7  1  4  8  7  9  9  1  3  7
  1  4  3  7  2 10  1  8  3  9  7  8  4  2  1  7  7  9  3  7  4  8  4  3
  7  1  8  3 10  3  8  1  1 10 10 10  4 10 10  9  4  2 10  2  4 10  8  4
  1  2  8  8  2  1  1  9  1  1  8  8  2  1  9 10  1  2  1  1  9  1  1  1
 10  3  3  4  9 10  9 10  7  9  3  8 10  4 10 10  3  8  3 10  1  8  3 10
  9  3 10  9  8  8  2 10  2  1  8  1 10  4  2  1  8  1  7  8  2  8  7  7
  4  3 10 10  1  4  8 10  1  4  9  2  3  8  9  1  4  9  1  4  7 10  1  7
  4  4  2  9  1  7  1  9 10  3  9 10  7  2  3  2  1 10  7  4 10  2 10  4
  3  1  8  1  9  1 10 10  9 10  1  8  1 10 10  9  7  7  4  4  8  2 10  9
  9  1 10  4  2 10  3  3 10 10 10 10  3 10  1  4  8  7 10  1 10  1  9  1
  7  3  4  1 10  1 10 10  7  8 10  2  1  1  9 10 10  4  4  1  7 10 10  7
  8  4  8  7  3  4  8  4 10  8  2  8 10  4  2  4  1 10  3  7 10  1  7  2
  2  8  1  1  8 10  8  1]

In [52]:
yhat = classifier.predict(X_test)

In [33]:
print(yhat)

[ 1  4  9  8  9  9  7  8  9  1  1  1  1 10  4  3  4  1  8  8  1  7  8  2
  1  3  1 10  7  7  4  2  2  1  8  8  1  3  9  4  1  8  9  1 10 10  3  3
  7  7 10  8 10  8  1  9  7 10  7  7  1  7  2  3  2  1  1 10 10  1 10  1
  9  3  1  1  9  1  4  3 10  1  1  7  1  4 10  8 10  2  3  4  9  2  1  9
  1 10  1 10  4 10  8  1  1  1  4  3  1 10  1  1  4  1  2  3  1  4  9  1
  3  2  8  8  8  4  9  7  7 10  2 10  1 10  4  7  8 10 10  4  2 10 10  1
 10  9 10  1  9 10 10  1  3 10  7 10  4  1  8  7  7  7  4  8 10  1  7  4
  1  8  8 10  1  1 10  7  1  1  2  4 10  7  2  8  2  4  4  2 10 10  1  2
  8  2 10  8  1  8  1  7]

In [43]:
from sklearn.metrics import accuracy_score

In [53]:
score = accuracy_score(y_test, yhat)

In [54]:
print(score)

0.775